

<div id="page-top">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <div class="header-left">
      <img class="img-fluid float-left" id="logoap"src="../assets/img/APLogo-20-20.png" alt="">
    
    
    </div>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/img/images/RYIvzD5X1_400x400.jpg" alt="">
        </span>
      </a>
      

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#login">        <button class="btn btn-general btn-green filter-b" id="signin">Sign in</button> 
                  </a>
              </li>
                <div class="nav-right">
                  <ul class="list-inline list-social-icons mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-github"></i>
                    </span>
                  </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-twitter"></i>
                    </span>
                  </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-linkedin"></i>
                    </span>
                  </a>
                    </li>    
                </ul>
                  </div>
            </ul>
        </div>
      
    </nav>
    </div>

    